.p1
{
   background-color: brown; 
   width: 30%;
   border: black 2px;
   border-radius: 10px;
}
.he1 h1{
    text-align: center;
    color: white;
    font: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.he1 input{
    width: 100%;
    align-items:center;
}
.b{
    padding: 5px;
    display: flex;
    justify-content: space-evenly; 
}
.b5 button
{
    width: 30%;
    text-align: center;
    margin-left: 35%;

}
.b button{
    width: 20%;
    /* height: 20px; */
}
